<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<head th:replace="/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/header.html :: header"></div>
<!--sub_back-->
<div th:replace="/sub_back.html :: sub_back"></div>
<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>관리자 페이지</strong><div class="bottom_border"></div></div>
        <div class="board_con">


        </div>
    </div>
</div>
<!--하단 footer-->
<div th:replace="/footer.html :: footer"></div>
</body>
</html>