<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="footer" class="footer">
    <div class="copylight">
        <div class="footer_wrap">
            <ul class="left_footer">
                <li>서울본사 : (07806) 서울특별시 강서구 마곡중앙2로 39(마곡동)</li>
                <li>호남지사 : (58217) 전라남도 나주시 우정로 72 더 클래스빌딩 B동 717호</li>
                <li>고객문의 : 1661-4523 / FAX 070-4620-8088</li>
            </ul>
            <ul class="right_footer">
                <li>기술지원 : 1661-4523</li>
                <li>도입문의 : orange@hodi.co.kr</li>
                <li>사업자등록번호 : 110-81-64955</li>
                <li><!-- <a href="">개인정보처리방침</a> --></li>
            </ul>
            <div class="bottom_footer">
                COPYLIGHT ⓒ 2021 HODI. ALL RIGHTS RESERVED
            </div>
        </div>

        <a value=" " class="top_button"> </a>
    </div>
</div>
</html>