<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="sub_back" class="sub_back">
  <div class="sub_title">
    <div class="sub_wrap">
      <ul class="main_text">

        <li class="home"><a href="../../index">HOME</a></li>

        <li class="dep1"><a href='javascript:void(0);' class="cur" >공지사항</a>
          <ul class="dep1_ul" >
            <li class="first"><a href="../sub01/sub1.php">회사소개</a></li>
            <li><a href="../sub02/sub1_1.php">도서관사업</a></li>
            <li><a href="../sub03/sub1_1.php">전력사업</a></li>
            <li><a href="../..//menu//notice/news/list_news">뉴스소식</a></li>
          </ul>
        </li>
        <li class="dep2"><a href='javascript:void(0);' class="cur" >뉴스소식</a></li>
      </ul>
      <div class="clb"></div>
    </div>
  </div>
</div>
</html>