
<!DOCTYPE html>
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header.html :: header"></div>
<div class="sub_back2">

    <div class="sub_title">
        <div class="sub_wrap">
            <ul class="main_text">

                <li class="home"><a href="/">HOME</a></li>

                <li class="dep1"><a href='javascript:void(0);' class="cur" >도서관사업</a>
                    <ul class="dep1_ul" >
                        <li class="first"><a href="../..//menu/sub01/sub1">회사소개</a></li>
                        <li><a href="../..//menu/sub02/sub1_1">도서관사업</a></li>
                        <li><a href="../..//menu/sub03/sub1">전력사업</a></li>
                        <li><a href="../..//menu/community/news/list">커뮤니티</a></li>
                    </ul>
                </li>

                <li class="dep2"><a href='javascript:void(0);' class="cur">무인솔루션</a>
                    <ul class="dep2_ul" >
                        <li class="first"><a href="./sub1_1">무인비대면솔루션</a></li>
                        <li ><a href="./sub2_1">도서관솔루션</a></li>
                        <li><a href="./sub3_1">모바일솔루션</a></li>
                        <li><a href="./sub4_1">보안솔루션</a></li>
                    </ul>
                </li>

                <li class="dep3"><a href='javascript:void(0);' class="cur">비대면 무인회원증발급시스템</a>
                    <ul class="dep3_ul" >
                        <li class="first"><a href="./sub1_1">노트북대출반납시스템</a></li>
                        <li ><a href="./sub1_2">비대면무인회원증발급시스템</a></li>
                        <li ><a href="./sub1_3">무인스터디카페</a></li>
                        <li ><a href="./sub1_4">독서실관리프로그램</a></li>
                    </ul>
                </li>




            </ul>
            <div class="clb"></div>
        </div>
    </div>
</div>
<div class="topmenu_deptitle">
    <ul>
        <li ><a href="./sub1_1">노트북대출반납시스템</a></li>
        <li class="on"><a href="./sub1_2">비대면 무인회원증발급시스템</a></li>
        <li ><a href="./sub1_3">무인스터디카페</a></li>
        <li ><a href="./sub1_4">독서실관리프로그램</a></li>
        <!-- <li ><a href="./sub1_1.php">열람실좌석발급시스템</a></li>
<li class="on"><a href="./sub1_2.php">디지털자료실예약관리</a></li>
<li ><a href="./sub1_3.php">출입관리시스템</a></li>
<li ><a href="./sub1_4.php">영상정보시스템</a></li>
<li ><a href="./sub1_5.php">실시간회원증발급</a></li>
<li ><a href="./sub1_6.php">디지털전자신문</a></li>
<li ><a href="./sub1_7.php">강좌관리시스템</a></li> -->
    </ul>
</div>

<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>비대면 무인회원증발급시스템</strong><div class="bottom_border"></div></div>
        <div class="content_synopsis" data-aos-offset="50" data-aos="fade-up">
            관리자가 이용자의  회원증  발급업무를 최소화 하는 동시에 이용자가 자신의 사진 촬영된 이미지를 직접 선택하고 회원증을 발급/관리 할 수 있는 시스템
        </div>
        <div class="content_main">
            <div class="img_border" data-aos-offset="50" data-aos="fade-up">
                <div class="img_slide">
                    <div class="img_area">
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub1_2/unman_self022.png" alt="비대면 무인회원증발급시스템">
                            <h5>비대면 무인회원증발급시스템</h5>
                        </div>
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub1_2/unman_self01.png" alt="비대면 무인회원증발급시스템">
                            <h5>비대면 무인회원증발급시스템</h5>
                        </div>
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub1_2/unman_self01a.png" alt="비대면 무인회원증발급시스템">
                            <h5>이용자 카메라 사용화면</h5>
                        </div>
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub1_2/unman_self01b.png" alt="비대면 무인회원증발급시스템">
                            <h5>이용자 카메라 미사용화면</h5>
                        </div>
                    </div>
                </div>
                <div class="left_slide">&lt;</div>
                <div class="right_slide">&gt;</div>
            </div>
            <div class="function_text" data-aos-offset="50" data-aos="fade-up">
                <ul>
                    <li><span class="function_title">Untact SelfIDMaker</span> <!-- <img src="../..//image/sub/sub2/certi_gs.gif" alt="GS 인증제품"></li> -->
                    <li>
                        <dl>
                            <dt><b>[주요기능]</b></dt>
                            <dd>1. 발급 업무 간소화</dd>
                            <dd>2. 이용자 회원증 발급 재미유발</dd>
                            <dd>3. 발급업무 인력감소</dd>
                            <dd>4. 타도서관 차별화 서비스</dd>
                            <dd>5. 이용자 맞춤형 서비스</dd>
                            <dd>6. 비효율적 업무 감소</dd>
                            <dd>7. 정회원 전환</dd>
                            <dd>8. 셀프  사진촬영 및  도서관리 DB 등록</dd>
                            <dd>9. 회원증(기관, 책이음 등)을 선택하여 발급가능</dd>
                            <dd>10. RFID 등록 시 원클릭 지원</dd>
                        </dl>
                    </li>
                    <li><a href="https://www.g2b.go.kr:8092/sm/pp/goods/SMPPGoodsDtlInfo.do?cntrctGoodsMngNo=002061279025&exmalNo=&brnchoffcCd=&mnThngCtgryCd=&serviceExmalYn=&shopCntrctSn=&srchFd=&srchMthSe=S&kwd=%C8%A3%B5%F0"class="btn btn_blue" target="_blank">나라장터 바로가기</a> &nbsp;&nbsp;<span> 나라장터 물품식별번호 <font color="red">24356951</font></span></li>
                </ul>
            </div>
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">시스템개요</div>
                <div class="right_area">
                    <dl>
                        <dd>- 타도서관과 차별화된 이용자 서비스 전략으로 이용자맞춤형 개인화 서비스의 장점이 있습니다. </dd>
                        <dd>- 자신이 직접 도서관 회원증을 발급함으로써 참여하는 도서관의 의미를 보다 부각시키며, 이용자의 재미 유발과 <br>&nbsp;&nbsp;관리자의 회원증 발급의 업무 간소화로 타 업무의 능률향상에 도움을 줍니다.</dd>
                    </dl>
                </div>
            </div>
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">제품 특장점</div>
                <div class="right_area">
                    <dl>
                        <dd><b>[이용자 측면]</b></dd>
                        <dd>a. 비대면 정회원 대출증 발급으로 인한 바이러스 감염 위험으로부터 안심</dd>
                        <dd>b. 정회원 등록, 회원증 발급을 위해 도서 대출회원과 겹쳐 줄을 서지 않고 셀프서비스 가능하여 만족도 개선</dd>
                        <dd>c. 도서관리프로그램 자동 사진등록 및 회원증 사진출력의 원스톱 처리로 인한 편의성 증대</dd>
                    </dl><br>
                    <dl>
                        <dd><b>[관리자 측면]</b></dd>
                        <dd>a. 데스크 회원증 발급 업무를 최소화시키고 ‘비대면 회원증 발급시스템’으로 유도하여 분산효과</dd>
                        <dd>b. 대민 서비스 업무 절감으로 타 업무에 집중할 수 있어서 도서관서비스의 질적 개선 효과</dd>
                        <dd>c. 사진촬영, RFID 리더기 태깅, 정회원등록 등의 이용자셀프서비스로 비중 있는 업무 절감</dd>
                    </dl>
                </div>
            </div>



            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">화면구성</div>
                <div class="right_area">
                    <dl>
                        <dd><b>[이용자 > 카메라 사용화면]</b></dd>
                        <dd><img src="../..//image/sub/sub02/sub1_2/sp_img05_04.png" alt="이용자 카메라 사용 화면구성"></dd>
                    </dl><br>
                    <dl>
                        <dd><b>[이용자 > 카메라 미사용화면]</b></dd>
                        <dd><img src="../..//image/sub/sub02/sub1_2/sp_img05_05.png" alt="이용자 카메라 미사용 화면구성"></dd>
                    </dl>
                </div>
            </div>


            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">사이트</div>
                <div class="right_area">
                    <dl>
                        <dd>
                            <div>국립 세종도서관</div>
                            <div>서울시교육청 송파도서관</div>
                        </dd>
                        <dd>
                            <div>전라남도립도서관</div>
                            <div>서울시교육청 고척도서관</div>
                        </dd>
                        <dd>
                            <div>충청남도대표도서관</div>
                            <div>서울시교육청 동작도서관</div>
                        </dd>
                        <dd>
                            <div>남양주시립 정약용도서관</div>
                            <div>김포시립풍무도서관</div>
                        </dd>
                        <dd>
                            <div>김포시립 마산도서관</div>
                            <div>인천심곡어린이도서관</div>
                        </dd>
                        <dd>
                            <div>용인시 성복도서관</div>
                            <div>포천시립중앙도서관</div>
                        </dd>
                        <dd>
                            <div>오산시 초평도서관</div>
                            <div>김포시립장기도서관</div>
                        </dd>
                        <dd>
                            <div>오산시 양산도서관</div>
                            <div>용인시 서농도서관</div>
                        </dd>
                        <dd>
                            <div>구리 교문도서관</div>
                            <div>철원군립도서관</div>
                        </dd>
                        <dd>
                            <div>제천시립도서관</div>
                            <div>양주시립 고읍도서관</div>
                        </dd>
                        <dd>
                            <div>양주시립 옥정호수도서관</div>
                            <div>양주시립 희망도서관</div>
                        </dd>
                        <dd>
                            <div>구리 갈매도서관</div>
                            <div>하남시 위례도서관</div>
                        </dd>
                        <dd>
                            <div>용인시 수지도서관</div>
                            <div>김제교육문화회관</div>
                        </dd>
                        <dd>
                            <div>증평군립도서관</div>
                            <div>장흥공공도서관</div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>




    </div>
</div>
</div>
<script>
    AOS.init();
</script>
<div class="footer">
    <div class="copylight">
        <div class="footer_wrap">
            <ul class="left_footer">
                <li>서울본사 : (07806) 서울특별시 강서구 마곡중앙2로 39(마곡동)</li>
                <li>호남지사 : (58217) 전라남도 나주시 우정로 72 더 클래스빌딩 B동 717호</li>
                <li>고객문의 : 1661-4523 / FAX 070-4620-8088</li>
            </ul>
            <ul class="right_footer">
                <li>기술지원 : 1661-4523</li>
                <li>도입문의 : orange@hodi.co.kr</li>
                <li>사업자등록번호 : 110-81-64955</li>
                <li><!-- <a href="">개인정보처리방침</a> --></li>
            </ul>
            <div class="bottom_footer">
                COPYLIGHT ⓒ 2021 HODI. ALL RIGHTS RESERVED
            </div>
        </div>

        <a value=" " class="top_button"> </a>
    </div>
</div>
</body>
</html>