
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header.html :: header"></div>
<div class="sub_back2">

    <div class="sub_title">
        <div class="sub_wrap">
            <ul class="main_text">

                <li class="home"><a href="/">HOME</a></li>

                <li class="dep1"><a href='javascript:void(0);' class="cur" >도서관사업</a>
                    <ul class="dep1_ul" >
                        <li class="first"><a href="../..//menu/sub01/sub1">회사소개</a></li>
                        <li><a href="../..//menu/sub02/sub1_1">도서관사업</a></li>
                        <li><a href="../..//menu/sub03/sub1">전력사업</a></li>
                        <li><a href="../..//menu/community/news/list">커뮤니티</a></li>
                    </ul>
                </li>

                <li class="dep2"><a href='javascript:void(0);' class="cur">무인솔루션</a>
                    <ul class="dep2_ul" >
                        <li class="first"><a href="./sub1_1">무인비대면솔루션</a></li>
                        <li ><a href="./sub2_1">도서관솔루션</a></li>
                        <li><a href="./sub3_1">모바일솔루션</a></li>
                        <li><a href="./sub4_1">보안솔루션</a></li>
                    </ul>
                </li>

                <li class="dep3"><a href='javascript:void(0);' class="cur">무인스터디카페</a>
                    <ul class="dep3_ul" >
                        <li class="first"><a href="./sub1_1">노트북대출반납시스템</a></li>
                        <li ><a href="./sub1_2">비대면무인회원증발급시스템</a></li>
                        <li ><a href="./sub1_3">무인스터디카페</a></li>
                        <li ><a href="./sub1_4">독서실관리프로그램</a></li>
                    </ul>
                </li>




            </ul>
            <div class="clb"></div>
        </div>
    </div>
</div>
<div class="topmenu_deptitle">
    <ul>
        <li ><a href="./sub1_1">노트북대출반납시스템</a></li>
        <li ><a href="./sub1_2">비대면 무인회원증발급시스템</a></li>
        <li class="on"><a href="./sub1_3">무인스터디카페</a></li>
        <li ><a href="./sub1_4">독서실관리프로그램</a></li>
        <!-- <li ><a href="./sub1_1.php">열람실좌석발급시스템</a></li>
<li ><a href="./sub1_2.php">디지털자료실예약관리</a></li>
<li class="on"><a href="./sub1_3.php">출입관리시스템</a></li>
<li ><a href="./sub1_4.php">영상정보시스템</a></li>
<li ><a href="./sub1_5.php">실시간회원증발급</a></li>
<li ><a href="./sub1_6.php">디지털전자신문</a></li>
<li ><a href="./sub1_7.php">강좌관리시스템</a></li> -->
    </ul>
</div>

<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>무인 스터디카페</strong><div class="bottom_border"></div></div>
        <div class="content_synopsis" data-aos-offset="50" data-aos="fade-up">제한된 좌석을 보다 효율적으로 관리하여 이용자의 편의성을 증가시키며, 공간 효율을 극대화 할 수 있도록 한 맞춤 무인 시스템입니다.</div>
        <div class="content_main">
            <div class="img_border" data-aos-offset="50" data-aos="fade-up">
                <div class="img_slide">
                    <div class="img_area">
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub1_3/unstudy01a.png" alt="studycafe">
                            <h5>StudyCafe 키오스크</h5>
                        </div>
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub1_3/unstudy01.png" alt="studycafe">
                            <h5>키오스크 구조</h5>
                        </div>
                    </div>
                </div>

                <div class="left_slide">&lt;</div>
                <div class="right_slide">&gt;</div>
            </div>
            <div class="function_text" data-aos-offset="50" data-aos="fade-up">
                <ul>
                    <li><span class="function_title">StudyCafe</span> <!-- <img src="../..//image/sub/sub2/certi_gs.gif" alt="GS 인증제품"></li> -->
                    <li>
                        <dl>
                            <dt><b>[주요기능]</b></dt>
                            <dd>1. 인증 후 본인이 원하는 좌석선택가능</dd>
                            <dd>2. 1인석/고정석/자유석등 배정, 공석/외출/퇴실 확인 가능</dd>
                            <dd>3. 무인기기를 통한 현금관리</dd>
                            <dd>4. 강력한 관리자 기능</dd>
                            <dd>- 좌석배정/외출/퇴실등 제어</dd>
                            <dd>- 공지사항 편집</dd>
                            <dd>- 현금시재 관리</dd>
                            <dd>- SMS서비스 이용</dd>
                        </dl>
                        <!-- </li>
                        <li><a href="http://shopping.g2b.go.kr/"class="btn btn_blue" target="_blank">나라장터 바로가기</a> &nbsp;&nbsp;<span> 나라장터 물품식별번호 <font color="red">22058389</font></span></li> -->
                </ul>
            </div>
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">시스템개요</div>
                <div class="right_area">
                    <dl>
                        <dd>- 스터디카페 관리시스템(StudyCafe)은 제한된 좌석을 보다 효율적으로 관리하여 이용자의 편의성을 증가시키며, <br>&nbsp;&nbsp;공간 효율을 극대화 할 수 있도록 구성해 놓은 무인시스템입니다.</dd>
                        <dd>- 좌석배치도에서 빈좌석 및 사용시간 확인이 가능하며 좌석배정, 외출, 퇴실등 제어가 가능함</dd>
                        <dd>- 입출입 기록, 좌석정보, 등록현황, SMS발송등 다양한 기능으로 이용자들에게 편의 제공</dd>
                    </dl>
                </div>
            </div>
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">주요특징</div>
                <div class="right_area">
                    <dl>
                        <dd>a. 본인확인 후 빠른 입출입(고정석)</dd>
                        <dd>b. 원하는 좌석 및 사용시간 확인</dd>
                        <dd>c. 관리자 업무 분산효과 및 회원, 스터디카페 관리</dd>
                        <dd>d. 지출관리, 통계 및 SMS발송</dd>
                    </dl>
                </div>
            </div>
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">화면구성</div>
                <div class="right_area">
                    <dl>
                        <dd><img src="../..//image/sub/sub02/sub1_3/unstudy02.jpg" alt="화면구성"></dd>
                    </dl>
                </div>
            </div>
            <!-- <div class="con_area">
                <div class="left_area">구성흐름도</div>
                <div class="right_area">
                    <dl>
                        <dd><img src="../..//image/sub/sub2/unman_self02.jpg" alt="구성흐름도"></dd>
                    </dl>
                </div>
            </div> -->
        </div>
    </div>
</div>
<script>
    AOS.init();
</script>
<div class="footer">
    <div class="copylight">
        <div class="footer_wrap">
            <ul class="left_footer">
                <li>서울본사 : (07806) 서울특별시 강서구 마곡중앙2로 39(마곡동)</li>
                <li>호남지사 : (58217) 전라남도 나주시 우정로 72 더 클래스빌딩 B동 717호</li>
                <li>고객문의 : 1661-4523 / FAX 070-4620-8088</li>
            </ul>
            <ul class="right_footer">
                <li>기술지원 : 1661-4523</li>
                <li>도입문의 : orange@hodi.co.kr</li>
                <li>사업자등록번호 : 110-81-64955</li>
                <li><!-- <a href="">개인정보처리방침</a> --></li>
            </ul>
            <div class="bottom_footer">
                COPYLIGHT ⓒ 2021 HODI. ALL RIGHTS RESERVED
            </div>
        </div>

        <a value=" " class="top_button"> </a>
    </div>
</div>
</body>
</html>