<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header.html :: header"></div>
<div class="sub_back2">

    <div class="sub_title">
        <div class="sub_wrap">
            <ul class="main_text">

                <li class="home"><a href="/">HOME</a></li>

                <li class="dep1"><a href='javascript:void(0);' class="cur" >도서관사업</a>
                    <ul class="dep1_ul" >
                        <li class="first"><a href="../..//menu/sub01/sub1">회사소개</a></li>
                        <li><a href="../..//menu/sub02/sub1_1">도서관사업</a></li>
                        <li><a href="../..//menu/sub03/sub1">전력사업</a></li>
                        <li><a href="../..//menu/community/news/list">커뮤니티</a></li>
                    </ul>
                </li>

                <li class="dep2"><a href='javascript:void(0);' class="cur">도서관솔루션</a>
                    <ul class="dep2_ul" >
                        <li class="first"><a href="./sub1_1">무인비대면솔루션</a></li>
                        <li ><a href="./sub2_1">도서관솔루션</a></li>
                        <li><a href="./sub3_1">모바일솔루션</a></li>
                        <li><a href="./sub4_1">보안솔루션</a></li>
                    </ul>
                </li>

                <li class="dep3"><a href='javascript:void(0);' class="cur">전자책대출반납시스템</a>
                    <ul class="dep3_ul" >
                        <li class="first"><a href="./sub2_1">열람실좌석발급시스템</a></li>
                        <li ><a href="./sub2_2">디지털자료실예약관리시스템</a></li>
                        <li ><a href="./sub2_3">출입관리시스템</a></li>
                        <li ><a href="./sub2_4">영상정보시스템</a></li>
                        <li ><a href="./sub2_5">회원증발급시스템</a></li>
                        <li ><a href="./sub2_6">디지털전자신문</a></li>
                        <li ><a href="./sub2_7">강좌관리시스템</a></li>
                        <li ><a href="./sub2_8">전자책대출반납시스템</a></li>
                        <li ><a href="./sub2_9">공간관리시스템</a></li>
                    </ul>
                </li>




            </ul>
            <div class="clb"></div>
        </div>
    </div>
</div>
<div class="topmenu_deptitle">
    <ul>
        <li ><a href="./sub2_1">열람실좌석발급시스템</a></li>
        <li ><a href="./sub2_2">디지털자료실예약관리시스템</a></li>
        <li ><a href="./sub2_3">출입관리시스템</a></li>
        <li ><a href="./sub2_4">영상정보시스템</a></li>
        <li ><a href="./sub2_5">회원증발급시스템</a></li>
        <li ><a href="./sub2_6">디지털전자신문</a></li>
        <li ><a href="./sub2_7">강좌관리시스템</a></li>
        <li class="on"><a href="./sub2_8">전자책대출반납시스템</a></li>
        <li ><a href="./sub2_9">공간관리시스템</a></li>
        <!-- <li ><a href="./sub1_1.php">열람실좌석발급시스템</a></li>
<li ><a href="./sub1_2.php">디지털자료실예약관리</a></li>
<li ><a href="./sub1_3.php">출입관리시스템</a></li>
<li ><a href="./sub1_4.php">영상정보시스템</a></li>
<li ><a href="./sub1_5.php">실시간회원증발급</a></li>
<li ><a href="./sub1_6.php">디지털전자신문</a></li>
<li ><a href="./sub1_7.php">강좌관리시스템</a></li> -->
    </ul>
</div>

<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>전자책대출반납시스템</strong><div class="bottom_border"></div></div>
        <div class="content_synopsis" data-aos-offset="50" data-aos="fade-up">
            전자책대출반납시스템은 전자책 오디오북을 디바이스를 통해 볼 수 있도록 홍보와 접점 역할을 하는 서비스입니다.
        </div>
        <div class="content_main">
            <div class="img_border" data-aos-offset="50" data-aos="fade-up">
                <div class="img_slide">
                    <div class="img_area">
                        <div class="nav">
                            <img src="../..//image/sub/sub02/sub2_8/alo01.jpg" alt="HD-S100">
                            <h5>HD-S100</h5>
                        </div><!--
						<div class="nav">
							<img src="../..//image/sub/sub2/tmanager02.png" alt="전자책대출반납시스템">
							<h5>전자책대출반납시스템</h5>
						</div> -->
                        <!-- <div class="nav">
                            <img src="../..//image/sub/sub2/gate_b.png" alt="게이트">
                            <h5>출입게이트</h5>
                        </div> -->
                    </div>
                </div>
                <div class="left_slide">&lt;</div>
                <div class="right_slide">&gt;</div>
            </div>
            <div class="function_text" data-aos-offset="50" data-aos="fade-up">
                <ul>
                    <li><span class="function_title">HD-S100</span> <!-- <img src="../..//image/sub/sub2/certi_gs.gif" alt="GS 인증제품"></li> -->
                    <li>
                        <dl>
                            <dt><b>[주요기능]</b></dt>
                            <dd>1. (전자콘텐츠 열람기능) 화면상의 전자책에 대한 QR코드를 스마트폰으로 촬영하여 <br>&nbsp;&nbsp;&nbsp;전자책과 오디오북을 열람 또는 청취하는 기능</dd>
                            <dd>2. 자료관리 시스템 K·LAS(케이닷라스)와 연계하여 다양한 형태의 목록 표시가 가능함<br>&nbsp;&nbsp;&nbsp;(사용자 정의)</dd>
                            <dd>3. 학교도서관 DLS연계하여 자가대출반납 기능 제공</dd>
                            <dd>4. (홍보기능) 홍보하고자 하는 페이지를 만들어 노출하고, 스마트폰에서 내용을 확인할 수<br>&nbsp;&nbsp;&nbsp;있는 기능</dd>
                            <dd>5. (통계기능) 키오스크를 통해 이용되는 전자콘텐츠에 대한 통계산출이 가능함</dd>
                        </dl>
                    <li><a href="https://www.g2b.go.kr:8092/sm/pp/goods/SMPPGoodsDtlInfo.do?cntrctGoodsMngNo=002061279024&exmalNo=&brnchoffcCd=&mnThngCtgryCd=&serviceExmalYn=&shopCntrctSn=&srchFd=&srchMthSe=S&kwd=%C8%A3%B5%F0" target="_blank" class="btn btn_blue">나라장터 바로가기</a> &nbsp;&nbsp;<span>식별번호 <font color="red">24357035</font></span></li>
                </ul>
            </div>
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">특 징</div>
                <div class="right_area">
                    <dl>
                        <dd>- 전자책 키오스크는 화면 조작 없이 비접촉 형태로 이용이 가능함</dd>
                        <dd>- 홍보기능을 통해 공지사항 등의 안내를 스마트폰에서 확인 가능함</dd>
                        <dd>- 키오스크 화면 상시 노출을 통한 홍보효과와 함께 전자자료 비이용자의 이용 장려를 위한 접점역할을 함</dd>
                    </dl>
                </div>
            </div>
            <!--div class="con_area">
                <div class="left_area">주요특징</div>
                <div class="right_area">
                    <dl>
                        <dd>-  측면에 설치된 센서(6조)로 통행자 감지
                        <dd>- 모터방식으로 출입문 구동
                        <dd>- 화재, 정전시 비상 개방
                        <dd>- 출입문(Glass Wing)에 승객이 끼었을 시 자동 열림으로 안전성 확보(Option 사항)
                        <dd>- RF카드 리더, 지문인식 리더, 바코드 리더등과 가능</dd>
                    </dl>
                </div>
            </div>
            <div class="con_area">
                <div class="left_area">도입효과</div>
                <div class="right_area">
                    <dl>
                        <dt>[사용자]</dt>
                        <dd>- 웹과 연계된 사용으로 실시간 도서관 좌석의 이용파악 좌석의 효율적인 이용 누구나 손쉽게 이용 가능</dd>
                        <dd>- 좌석의 독점 방지로 인한 좌석 이용 기회의 확대</dd>
                        <dd>- PDP와 SMS 연계</dd>
                        <dt>[관리자]</dt>
                        <dd>- 관리자의 업무기능 간결화 (인력감소, 시간절약)</dd>
                        <dd>- 도서관 및 도서관 이용자의 체계적, 효율적 관리</dd>
                        <dd>- 통계파악으로 도서관 참고자료 활용의 편의성 향상</dd>
                        <dd>- 손쉬운 관리 프로그램</dd>
                    </dl>
                </div>
            </div>
            <div class="con_area">
                <div class="left_area">화면구성</div>
                <div class="right_area">
                    <dl>
                        <dd><img src="../..//image/sub/sub2/sm03.jpg" alt="화면구성"></dd>
                    </dl>
                </div>
            </div> -->
            <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">이용자화면</div>
                <div class="right_area">
                    <dl>
                        <dd><img src="../..//image/sub/sub02/sub2_8/auto_lore01.jpg" alt="이용자화면"></dd>
                    </dl><br>
                    <dl>
                        <dd>1) 키오스크에서 대출 및  반납버튼을 클릭</dd>
                        <dd>2) 회원증을 바코드에 읽혀줌</dd>
                        <dd>3) 대출하고자 하는 도서를 바코드에 읽혀줌</dd>
                    </dl><br>
                    <dl>
                        <dd><img src="../..//image/sub/sub02/sub2_8/auto_lore02.jpg" alt="이용자화면"></dd>
                    </dl><br>
                    <dl>
                        <dd>4) 대출하고자 하는 도서 목록을 확인 후 대출처리</dd>
                        <dd>5) 반납의 경우  회원증 인식 없이 대출하고자 하는 책을 바코드에 인식하면 됨</dd>
                    </dl><br>
                </div>
            </div>
            <!-- <div class="con_area" data-aos-offset="50" data-aos="fade-up">
                <div class="left_area">관리자화면</div>
                <div class="right_area">
                    <dl>
                        <dd><img src="../..//image/sub/sub2/tmanager04.png" alt="관리자화면"></dd>
                    </dl>
                </div> -->
        </div>
    </div>
</div>
</div>
<script>
    AOS.init();
</script>
<!--하단 footer-->
<div th:replace="/layout/footer.html :: footer"></div>
</body>
</html>