<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="header" class="header">
    <script>
        function logoutBtn(){
            var conf = confirm("로그아웃 하시겠습니까?")
            if(conf){
                alert("로그아웃 되었습니다.");
                location.href="/logout";
            }else{
                return false;
            }
        }
    </script>
    <a href="../../../index" class="logo">
        <img src="../../../image/logo.gif" alt="HODI">
    </a>
    <a th:if="${session.sessionId != null}" href="../../../admin" class="login_logo">
        <img src="../../../image/logout.png" alt="logout">
    </a>
    <div class="navContainer transform">
        <div class="borderline"></div>
        <div class="navigation">
            <ul>
                <li >
                    <a href="#">POPUP 관리</a>
                </li>
                <li >
                    <a href="#">공지사항 작성</a>
                </li>
                <li >
                    <a href="../../../menu/notice/news/write_news">뉴스글 작성</a>
                </li>
                <li >
                    <a onclick="logoutBtn()" style="cursor: pointer;">로그아웃</a>
                </li>
            </ul>
            <div class="resetFloat"></div>
            <div class="fakeBorder"></div>
            <div class="closeNav"></div>
            <div class="navImg">
                <div></div>
            </div>
        </div>

        <div class="mNavToggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
</div>
</html>