<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<head th:replace="/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/header.html :: header"></div>
<!--sub_back-->
<div th:replace="/sub_back.html :: sub_back"></div>
<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>뉴스소식</strong><div class="bottom_border"></div></div>
        <div class="board_con">
            <div class="search">
                <p class="search_text"><span>Total : </span>0개<span> (<strong>1</strong>/0 Page)</span></p>
                <fieldset class="search_form">
                    <form action="">
                        <select name="search" id="">
                            <option value="subject|content">전체</option>
                            <option value="subject">제목</option>
                            <option value="content">내용</option>
                        </select>
                        <input type="text" name="search_text" placeholder="검색어 입력" value="" id=""><input type="submit" class="btn btn_black" value="검색">
                    </form>
                </fieldset>
            </div>
            <div class="board_list">
                <ul>
                    <li>
                        <a>
                            <span><img src="../..//image/sub/bg_top1.jpg"></span>
                            <dl>
                                <dt>뉴스소식 1</dt>
                                <dd>뉴스소식 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                                    <br>뉴스소식 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ....</dd>
                            </dl>
                        </a>
                        <a href="../news/view" class="btn_area">자세히 보기</a>
                    </li>
                </ul>
            </div>
            <div class="board_list">
                <ul>
                    <li>
                        <a>
                            <span><img src="../..//image/sub/Img01.jpg"></span>
                            <dl>
                                <dt>뉴스소식 2</dt>
                                <dd>뉴스소식 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                                    <br>뉴스소식 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ....</dd>
                            </dl>
                        </a>
                        <a href="../news/view" class="btn_area">자세히 보기</a>
                    </li>
                </ul>
            </div>
            <div class="board_list">
                <ul>
                    <li>
                        <a>
                            <span><img src="../..//image/logo.gif"></span>
                            <dl>
                                <dt>뉴스소식 3</dt>
                                <dd>뉴스소식 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                                    <br>뉴스소식 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ....</dd>
                            </dl>
                            <!--sub.css 1047번 hover 색깔 추가-->
                            <a href="../news/view" class="btn_area">자세히 보기</a>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page">
                <a href="#" class="first_prev" title="처음페이지">&lt;&lt;</a>
                <a href="#" class="prev" title="이전페이지">&lt;</a>
                <a href="#" class="on" onclick="return false;">1</a>
                <a href="#" title="2 페이지">2</a>
                <a href="#" title="3 페이지">3</a>
                <a href="#" class="next" title="다음페이지">&gt;</a>
                <a href="#" class="last_next" title="마지막페이지">&gt;&gt;</a>
            </div>
        </div>
    </div>
</div>
<script>
    AOS.init();
</script>
<!--하단 footer-->
<div th:replace="/footer.html :: footer"></div>
</body>
</html>