
@CHARSET "UTF-8"; 
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
@font-face { 

	font-family: "HODI";  

	src:url("../font/SJGB.ttf") format("truetype");

	font-style:normal;  /* 선택속성 */

	font-weight:normal;  /* 선택속성 */

}     
@font-face { 
	font-family:"gwangju";  
	font-weight:normal;  /* 선택속성 */
	font-style:500;  /* 선택속성 */
     src:local(※),  /* 생략 가능 */ 
     url("../font/gwangju_medium.ttf") format("truetype"),
     url("../font/gwangju_medium.otf") format("opentype"),
     url("../font/gwangju_medium.woff") format("woff"),
     url("../font/gwangju_medium.eot") ;
}     
@font-face { 
	font-family:"gwangju";  
	font-weight:normal;  /* 선택속성 */
	font-style:300;  /* 선택속성 */
     src:local(※),  /* 생략 가능 */ 
     url("../font/gwangju_light.ttf") format("truetype"),
     url("../font/gwangju_light.otf") format("opentype"),
     url("../font/gwangju_light.woff") format("woff"),
     url("../font/gwangju_light.eot") ;
}     
/*
@font-face { 
	font-family:"gwangju";  
	font-weight:normal; 
	font-style:700;  
     src:local(※),  
     url("../font/gwangju_bold.ttf") format("truetype"),
     url("../font/gwangju_bold.otf") format("opentype");
}     
*/
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}


*{
	margin: 0;
	padding: 0;
	font-family: "gwangju",sans-serif;  
}

li{
	list-style:none;
}
a{
	text-decoration: none;
}
a:link, a:visited, a:active{
	color:black;
}
.header{
	position: relative;
	top: 0;
	background-color:white;
	border-top:2px solid rgb(61, 123, 204);
	width: 100%;
	z-index: 999;
	height: 80px;
	border-bottom:3px solid gray;
}
.header .logo{
	margin-left: 40px;
	margin-top: 15px;
	z-index: 999;
}
.header .logo div{
	width: 400px;
	position: fixed;
	top: 30px;
	left: 265px;
	font-size:1.1em
}
.header .logo img{
	z-index: 999;
}


.logo {
	position: absolute;
	left: 0;
	z-index: 1;
}

.header .login_logo {
	margin-left: 1850px;
	margin-top: 25px;
	z-index: 999;
	cursor: pointer;
}
.header .login_logo div{
	width: 400px;
	position: fixed;
	top: 30px;
	right: 265px;
	font-size:1.1em
}
.header .login_logo img{
	z-index: 999;
}
.login_logo {
	position: absolute;
	left: 0;
	z-index: 1;
}


.navContainer {
	position: relative;
	width: 100%;
	/*height: 75px;*/
	min-height: 68px;
	max-height: 68px;
	margin: 12px auto 0 auto;
	background-color: #ffffff;
	text-align: center;
	overflow: hidden;
	border-bottom:1px solid #eee;
}
.navContainer .borderline{
	border-top:3px solid gray;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 68px;
}

.navigation {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding-top: 20px;
	top: 71px;
	z-index: 888;
	background-color:#eee;
	border-bottom:1px solid #aaa;
}
.navigation>ul {
	margin-bottom: 40px;
	position: relative;
	z-index: 888;
	bottom: 75px;
}
.navigation>ul>li:hover>a, .navigation>ul>li.active>a {
	color: #2c7cdd;
}
.navigation>ul>li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 888;
}
.navigation>ul>li:first-child:before{
	content:''; 
	position: absolute; 
	left:0%; 
	top:55px; 
	width: 1px; 
	background:#ddd; 
	height:380px;
}
.navigation>ul>li:after{
	content:''; 
	position: absolute; 
	right:-4%; 
	top:55px; 
	width: 1px; 
	background:#ddd; 
	height:380px;
}
.navigation>ul>li {
	min-width: 280px;
}
.navigation>ul>li>a {
	display: block;
	padding: 0 45px;
	text-align: center;
	/*font-family: "210 blog", sans-serif;*/
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	font-family:'Malgun Gothic' !important;
}
.navigation>ul>li>ul {
	height: 100%;
	margin-top: 34px;
	overflow: hidden;
}
.navigation>ul>li>ul>li {
	text-align: center;
	font-weight: normal;
}
.navigation>ul>li>ul>li>a {
	display: block;
	padding: 8px 0 8px 10px;
	font-size: 14px;
	font-family:'Malgun Gothic' !important;
}
.navigation>ul>li>ul>li>ul {
	display: none;
}



.btn:link, .btn:visited, .btn:active{
	color:white;
}
.btn{
	padding: 11px 25px;
	border:none;
	font-size:13pt;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}

.btn_blue{
	background-color:rgb(0, 84, 165);
	color:white;
}
.btn_black{
	background-color:#333;
	color:white;
}
.btn_gray{
	background-color:#aaa;
	color:white;
}
.btn_red{
	background-color:rgb(255, 110, 110);
	color:white;
}

/*게시판 table*/
.board_list{
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
}


@media (max-width: 1280px) {
	.logo{
	}
	.navContainer{
		padding-left: 60px;
	}
}
