<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<script>
    function logoutBtn(){
        alert("로그아웃이 되었습니다.");
        location.href="../logout";
    }
</script>
<div th:fragment="header" class="header">
    <a href="../../index" class="logo">
        <img src="../..//image/logo.gif" alt="HODI">
    </a>
    <a th:if="${session.sessionId == null}" href="../../login" class="login_logo">
        <img src="../..//image/login.png" alt="login">
    </a>
    <a th:if="${session.sessionId != null}" href="../../admin/adminindex" class="login_logo">
        <img src="../..//image/logout.png" alt="logout">
    </a>
    <div class="navContainer transform">
        <div class="borderline"></div>
        <div class="navigation">
            <ul>
                <li >
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="../../menu/sub01/sub1.php">인사말</a></li>
                        <li><a href="../../menu/sub01/sub2.php">연혁</a></li>
                        <li><a href="../../menu/sub01/sub3.php">일반현황</a></li>
                        <li><a href="../../menu/sub01/sub4.php">사업분야</a></li>
                        <li><a href="../../menu/sub01/sub5.php">찾아오시는길</a></li>
                    </ul>
                </li>
                <li >
                    <a href="#">도서관사업</a>
                    <ul>
                        <li><a href="../../menu/sub02/sub1_1.php">무인비대면솔루션</a></li>
                        <li><a href="../../menu/sub02/sub2_1.php">도서관솔루션</a></li>
                        <li><a href="../../menu/sub02/sub3_1.php">모바일솔루션</a></li>
                        <li><a href="../../menu/sub02/sub4_1.php">보안솔루션</a></li>
                    </ul>
                </li>
                <li >
                    <a href="#">전력사업</a>
                    <ul>
                        <li><a href="../../menu/sub03/sub1_1.php">전력수요분석시스템</a></li>
                        <li><a href="../../menu/sub03/sub2_1.php">전력수요예측시스템</a></li>
                        <li><a href="../../menu/sub03/sub3_1.php">FastDR(고속수요반응)</a></li>
                        <li><a href="../../menu/sub03/sub4_1.php">빌딩에너지관리시스템</a></li>
                    </ul>
                </li>
                <li >
                    <a href="#">공지사항</a>
                    <ul>
                        <li><a href="../../menu/news/list">뉴스소식</a></li>
                    </ul>
                </li>
                <!-- <li class="navToggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </li> -->
            </ul>
            <div class="resetFloat"></div>
            <div class="fakeBorder"></div>
            <div class="closeNav"></div>
            <div class="navImg">
                <div></div>
            </div>
        </div>


        <div class="mNavToggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
</div>
</html>