<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<head th:replace="/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/header.html :: header"></div>
<!--sub_back-->
<div th:replace="/sub_back.html :: sub_back"></div>
<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>관리자 로그인</strong><div class="bottom_border"></div></div>
        <div class="board_con">
            <!--sub.css 1299번 부터 로그인 부분 수정-->
            <div class="login">
                <fieldset class="login_form">
                    <form action="">
                        <label>아이디</label>
                        <input type="text" name="id"><br>
                        <label>패스워드</label>
                        <input type="password" name="pw"><br><br>
                        <button type="submit" onclick="loginBtn()">로그인</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script>
    AOS.init();
</script>
<!--하단 footer-->
<div th:replace="/footer.html :: footer"></div>
</body>
</html>