<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header.html :: header"></div>
<div class="sub_back">
    <div class="sub_title">
        <div class="sub_wrap">
            <ul class="main_text">
                <li class="home"><a href="../../index">HOME</a></li>
                <li class="dep1"><a href='javascript:void(0);' class="cur" >로그인</a></li>
            </ul>
            <div class="clb"></div>
        </div>
    </div>
</div>
<div class="main_wrap">
    <div class="content">
        <div class="login_title"><strong>로그인</strong><div class="bottom_border"></div></div>
        <div class="board_con">
            <div class="login">
                <fieldset class="login_form">
                    <form action="../login" method="post" name="loginFrm">
                        <input type="text" name="id" placeholder="아이디"><br>
                        <input type="password" name="pw" placeholder="비밀번호"><br><br>
                        <button type="submit" onclick="loginBtn()">로그인</button>
                        <button type="button" onclick="cancleBtn()">취소</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script>
    AOS.init();
</script>
<script>
    function loginBtn(){
        if("[[${loginCheck}]]" == "fail"){
            alert("아이디 또는 패스워드가 틀리거나 등록되어 있지 않습니다.");
        }
        loginFrm.submit();
    }
    function cancleBtn(){
        location.href="../index"
    }
</script>
<!--하단 footer-->
<div th:replace="/layout/footer.html :: footer"></div>
</body>
</html>