<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header_admin.html :: header"></div>
<div class="sub_back">
    <div class="sub_title">
        <div class="sub_wrap">
            <ul class="main_text">
                <li class="home"><a href="../../../admin">HOME</a></li>
                <li class="dep1"><a href='javascript:void(0);' class="cur" >관리자 페이지</a>
                    <ul class="dep1_ul" >
                        <li class="first"><a href="../sub01/sub1.php">회사소개</a></li>
                        <li><a href="../sub02/sub1_1.php">도서관사업</a></li>
                        <li><a href="../sub03/sub1_1.php">전력사업</a></li>
                        <li><a href="../..//menu//community/news/list_news">커뮤니티</a></li>
                    </ul>
                </li>
                <li class="dep2"><a href='javascript:void(0);' class="cur" >POPUP 생성</a></li>
            </ul>
            <div class="clb"></div>
        </div>
    </div>
</div>
<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>POPUP 생성</strong><div class="bottom_border"></div></div>
        <div class="board_con">
            <div class="board_write">
                <form action="/admin/popup/write_popup" name="writeFrm" method="post" enctype="multipart/form-data">
                    <dl>
                        <dd>
                            <ul>작성자
                                <li><input type="hidden" name="name" th:value="${session.sessionName}" th:text="${session.sessionName}"></li>
                            </ul>
                        </dd>
                        <dd>
                            <ul>POPUP 상태
                                <li>
                                    <select name="pshow">
                                        <option value="Y">활성화</option>
                                        <option value="N">비활성화</option>
                                    </select>
                                </li>
                            </ul>
                        </dd>
                        <dd>
                            <ul>제목
                                <li><input type="text" name="ptitle" id="ptitle" placeholder="제목을 입력해주세요."></li>
                            </ul>
                        </dd>
                        <dd>
                            <ul>내용
                                <li><textarea name="pcontent" id="pcontent" placeholder="내용을 입력해주세요."></textarea></li>
                            </ul>
                        </dd>
                        <dd>
                            <ul>사진
                                <li><input type="file" name="file"></li>
                            </ul>
                        </dd>
                        <!--sub2.css 1064~1073번 hover 색깔 추가-->
                        <dt>
                            <a onclick="writeBtn()">작성</a>
                            <a onclick="location.href='../../../admin/popup/list_popup'">취소</a>
                        </dt>
                    </dl>
                </form>
            </div>
        </div>
    </div>
</div>

<!--하단 footer-->
<div th:replace="/layout/footer.html :: footer"></div>
<script>
    if("[[${session.sessionId}]]" == ""){
        alert("잘못된 접근입니다.");
        location.href="../../../index";
    }

    if("[[${session.sessionLevel}]]" < 1){
        alert("권한이 없습니다.");
        location.href="../../../index";
    }

    function writeBtn(){
        if("[[${session.sessionId}]]" != "admin"){
            alert("관리자만 작성이 가능합니다.");
            return false;
        }
        if ($("#ptitle").val() == ""){
            alert("제목을 입력해주세요.");
            $("#ptitle").focus();
            return false;
        }

        var conf = confirm("뉴스글을 작성하시겠습니까?");
        if(conf){
            alert("뉴스글 작성이 완료되었습니다.");
            writeFrm.submit();
        }else{
            return false;
        }
    }
</script>
</body>
</html>