
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header.html :: header"></div>
<div class="sub_back">
    <div class="sub_title">
        <div class="sub_wrap">
            <ul class="main_text">

                <li class="home"><a href="/">HOME</a></li>


                <li class="dep1"><a href='javascript:void(0);' class="cur" >회사소개</a>
                    <ul class="dep1_ul" >
                        <li class="first"><a href="../..//menu/sub01/sub1">회사소개</a></li>
                        <li><a href="../..//menu/sub02/sub1_1">도서관사업</a></li>
                        <li><a href="../..//menu/sub03/sub1">전력사업</a></li>
                        <li><a href="../..//menu/community/news/list">커뮤니티</a></li>
                    </ul>
                </li>

                <li class="dep2"><a href='javascript:void(0);'  class="cur">찾아오시는길</a>
                    <ul class="dep2_ul" >
                        <li class="first"><a href="../../sub1">인사말</a></li>
                        <li><a href="../../sub2">연혁</a></li>
                        <li><a href="../../sub3">일반현황</a></li>
                        <li><a href="../../sub4">사업분야</a></li>
                        <li><a href="../../sub5">찾아오시는길</a></li>
                    </ul>
                </li>



            </ul>
            <div class="clb"></div>
        </div>
    </div>

</div><script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<div class="main_wrap">
    <div class="content">
        <div class="content_title"><strong>찾아오시는길</strong><div class="bottom_border"></div></div>
        <div class="content_main">
            <div class="inlineMenu">
                <ul>
                    <a href="./sub5"><li >본사</li></a>
                    <a href="./sub5_2"><li class="active" >지사</li></a>
                </ul>
            </div>
            <div id="sub_office" >
                <div style="width:100%;"  id="daumRoughmapContainer1624352757080" class="root_daum_roughmap root_daum_roughmap_landing"></div>
                <table class="info roadinfo" cellspacing="0" cellpadding="0" >
                    <tr>
                        <th>지사주소</th>
                        <td>(58217) 전라남도 나주시 우정로 72 더 클래스빌딩 B동 717호  <strong>전화</strong> 1661-4523 <strong>팩스</strong> 070-4620-8088</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <!-- 3. 실행 스크립트 -->
    <script charset="UTF-8">
        $(document).ready(function(){
            new daum.roughmap.Lander({
                "timestamp" : "1611313857061",
                "key" : "243gy",
                "mapHeight" : "600"
            }).render();

            new daum.roughmap.Lander({
                "timestamp" : "1624352757080",
                "key" : "26c49",
                "mapWidth" : "640",
                "mapHeight" : "360"
            }).render();

            $("#sub_office").removeClass('active');
        });
    </script>
    <script>
        AOS.init();
    </script>
    <!--하단 footer-->
    <div th:replace="/layout/footer.html :: footer"></div>
</body>
</html>