<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.hodipg.mapper.NewsMapper">
    <select id="selectAll" resultType="com.java.hodipg.dto.NewsDto" parameterType="map">
        select * from news
        <if test="category == 'all'">
            where ntitle like concat('%',#{word},'%') or ncontent like concat('%',#{word},'%')
        </if>
        <if test="category == 'ntitle'">
            where ntitle like concat('%',#{word},'%')
        </if>
        <if test="category == 'ncontent'">
            where ncontent like concat('%',#{word},'%')
        </if>
        order by nno desc
        limit #{startRow}, 5
    </select>

    <select id="selectListCount" resultType="int">
        select count(*) from news
        <if test="category == 'all'">
            where ntitle like concat('%',#{word},'%') or ncontent like concat('%',#{word},'%')
        </if>
        <if test="category == 'ntitle'">
            where ntitle like concat('%',#{word},'%')
        </if>
        <if test="category == 'ncontent'">
            where ncontent like concat('%',#{word},'%')
        </if>
    </select>

    <select id="selectOne" resultType="com.java.hodipg.dto.NewsDto">
        select * from news where nno=#{nno}
    </select>

    <insert id="insertOne">
        insert into news (name, ntitle, ncontent, ndate, nfile, nlink)
        values (#{name}, #{ntitle},#{ncontent}, now(), #{nfile}, #{nlink});
    </insert>

    <update id="updateOne">
        update news set
        ntitle=#{ntitle},ncontent=#{ncontent},nfile=#{nfile},nlink=#{nlink} where nno=#{nno}
    </update>

    <delete id="deleteOne">
        delete from news where nno=#{nno}
    </delete>

</mapper>