<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<head th:replace="/layout/head.html :: head"></head>
<body>
<!--상단 header-->
<div th:replace="/layout/header.html :: header"></div>
<!--sub_back-->
<div th:replace="/layout/sub_back.html :: sub_back"></div>
<div class="main_wrap">
  <div class="content">
    <div class="content_title"><strong>뉴스소식</strong><div class="bottom_border"></div></div>
    <div class="board_con">
      <div class="board_view" th:each="ndto : ${ndto}">
          <dl>
              <dt class="title" th:text="${ndto.ntitle}"></dt>
              <dd>
                  NO.<span th:text="${ndto.nno}"></span>
                  작성일<span th:text="${ndto.ndate}"></span>
                  작성자<span th:text="${ndto.name}"></span>
                  <th:block th:if="${ndto.nlink != null}">
                      뉴스링크<span><a th:href="${ndto.nlink}"><th:block th:text="${ndto.nlink}"></th:block></a></span>
                  </th:block>
              </dd>
              <dd th:if="${ndto.nfile != null}">
                  <!--sub.css 1124번 이미지 크기 추가-->
                  <!--<img th:src="${ndto.nfile}">-->
                  <img th:src="@{../../../image/news/}+${ndto.nfile}">
              </dd>
              <dd class="content" th:text="${ndto.ncontent}"></dd>
              <!--sub.css 1120번 hover 색깔 추가-->
              <dt>
<!--                  <a href="../news/list_news">목록</a>-->
                  <a th:href="@{../news/list_news(page=${page},category=${category},word=${word})}">목록</a>
                  <a th:if="${session.sessionId == 'admin' || session.sessionName == ndto.name}"  th:nno="${ndto.nno}" th:onclick="updateBtn(this.getAttribute('nno'))">수정</a>
                  <a th:if="${session.sessionId == 'admin' || session.sessionName == ndto.name}" th:nno="${ndto.nno}" th:onclick="deleteBtn(this.getAttribute('nno'))">삭제</a>
              </dt>
          </dl>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
    function updateBtn(nno){
        var conf = confirm("뉴스글을 수정하시겠습니까?");
        if(conf){
            location.href="../news/update_news?nno="+nno;
        }
    }
    function deleteBtn(nno){
        var conf = confirm("뉴스글을 삭제하시겠습니까?");
        if(conf){
            alert("삭제가 왼료되었습니다.");
            location.href="../news/delete_news?nno="+nno;
        }
    }
</script>

<!--하단 footer-->
<div th:replace="/layout/footer.html :: footer"></div>
</body>
</html>